{erl_opts, [debug_info]}.
{deps, []}.

{plugins, [pc]}.

{port_specs, [{"priv/efast_xs.so", ["c_src/*.c"]}]}.

{provider_hooks, [
                  {pre, [
                         {compile, {pc, compile}},
                         {clean, {pc, clean}}
                        ]
                  }]}.
